{% assign product = item %}
{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}
{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %}
{% unless grid_item_width %}
{% assign grid_item_width = 'wide--one-third large--one-third medium-down--one-half' %}
{% endunless %}
{% assign grid_image_width = settings.product_image_width_height  %}
{% assign product = item %}
{% assign grid_item_width = 'medium-down--one-half large--one-quarter' %}
<div class="grid-item {{ settings.product_hover_btn }} {{ grid_item_width }} {{product.type}}">
  <div id="product-{{ product.id }}" class="grid-view-item padding_0 {{ settings.product_hover_btn }} product-layouts item-row {% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}{% if forloop.last %} last{% endif %}">
    <div class="product-wrapper">
      <div class="thumbs product-thumb">
        <div class="product-img {{ settings.product_img_hover }}">
          <a href="{{ product.url | within: collection }}" class="product-t">
            {% if featured.title != '' %}
            {% if product.images.last %} 
            <img class="image_thumb_swap" src="{{ product.images.last | product_img_url: grid_image_width }}" alt="{{ product.images.last.alt | escape }}" />
            {% endif %}        
            <img src="{{ product.featured_image.src | img_url: settings.product_image_width_height }}" alt="{{ product.featured_image.alt | escape }}" class="featured-image image_thumb">
            {% if product.compare_at_price > product.price %}
            <span class="product-price__sale-label">{{ 'products.product.on_sale' | t }}</span>
            {% endif %}
            {% if product.available %} 
            {% else %}
            <div class="sold-out-tag text-center">
              <span class="tag">{{ 'products.product.sold_out' | t }}</span>
            </div>
            {% endif %}
            {% else %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </a>
          {% if settings.enable_countdown %}        
          {% assign c_f = product.metafields.c_f %}
          {% assign key = 'countdown' %}
          {% if c_f.countdown != nil %}
          <div class="flip-countdown simple-countdown"><div class="countdown-container flip-countdown" data-countdown="{{ c_f.countdown }}"></div></div>
          {% endif %}
          {% endif %} 
          {% if settings.product_hover_btn !="style5" %}
          <div class="btn_wrapper">
            {% if settings.enable_add_cart %}
            {% if product.available %}    
            <div class="pro_btn add_tocart">
              <form  action="/cart/add" method="post" class="variants clearfix" id="cart-form-{{ product.id }}">                                    
                <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
                <a class="add-cart-btn">
                  <i class="mdi mdi-cart-outline"></i><span class="add_cart">{{ 'products.product.add_to_cart' | t }}</span>
                </a>
              </form>   
            </div>  
            {% endif %} {% endif %}
            {% if settings.enable_wishlist %}       
            {% include 'wishlist-icon' %}         
            {% endif %} 
            {% if settings.enable_quick_view %}       
            {% include 'quickveiw-icon' %}         
            {% endif %} 
          </div>
          {% endif %}

          {% comment %}
          Link to your product with the 'within: collection' filter for the link to be aware of the collection.
          This allows you to create collection-based navigation on the product page.

          Results of using 'within: collection':
          - Instead of a URL with /products/product-handle
          you would get /collections/collection-handle/products/product-handle

          For more info on navigation within a collection
          - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

          {% endcomment %}
        </div>
      </div>
      <div class="product-description">
        {% if settings.product_hover_btn =="style6" %}
        <div class="product_hover_txt">
          {% endif %}
          {% if settings.display_color_variant %}     
          {% include 'item-swatch' %}
          {% endif %}
          <div class="h4 grid-view-item__title"><a class="grid-view-item__link grid-link__title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
          </div>
          {% if settings.collections_show_rating %}    
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% endif %}
          {% if settings.show_vendor %}
          <div class="grid-view-item__vendor">{{ product.vendor }}</div>
          {% endif %}

          <div class="grid-view-item__meta">
            {% capture price %}{{ product.price | money }}{% endcapture %}
            <div class="grid-link__org_price">
              {% include 'product-price' %}
            </div> 
          </div>

          {% if settings.product_hover_btn =="style5" %}
          <div class="btn_wrapper">
            {% if settings.enable_wishlist %}       
            {% include 'wishlist-icon' %}         
            {% endif %} 
            {% if settings.enable_add_cart %}
            {% if product.available %}    
            <div class="pro_btn add_tocart">
              <form  action="/cart/add" method="post" class="variants clearfix cart-form-{{ product.id }}">                                    
                <input type="hidden" name="id" value="{{ product.variants[0].id }}" />  
                <a class="add-cart-btn">
                  <i class="mdi mdi-cart-outline"></i><span class="add_cart">{{ 'products.product.add_to_cart' | t }}</span>
                </a>
              </form>   
            </div>  
            {% endif %} {% endif %}
            {% if settings.enable_quick_view %}       
            {% include 'quickveiw-icon' %}         
            {% endif %} 
          </div>
          {% endif %} 
          {% if settings.product_hover_btn =="style6" %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>