<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html  lang="{{ shop.locale }}" class="no-js {% if shop.locale == 'ar' or shop.locale == 'he' or shop.locale == 'ur' %} rtl {% endif %}"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- CSS ================================================== -->
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }} 
   {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }} 
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <script>
    window.theme = window.theme || {};

    var theme = {
      cartType: '{{ settings.ajax_cart_method }}',
      moneyFormat: {{ shop.money_format | json }},
      currentTemplate: '{{ template }}',
      variables: {
        mediaQuerySmall: 'screen and (max-width: 480px)',
        bpSmall: false
      }
    }
     
  </script>

  <!-- Header hook for plugins ================================================== -->
 
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}

  {% comment %}
    Theme dependent JS is loaded at the very bottom of this file for performance reasons.
    However, jQuery is included here so that it can be used inside the templates, e.g. in product.liquid.
  {% endcomment %}
  
  {% if template.directory == 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'jquery-cookie.min.js' | asset_url | script_tag }}

  {{ 'bootstrap.min.js' | asset_url | script_tag }} 
  {{ 'lightbox.min.css' | asset_url | stylesheet_tag }} 

  {{ 'materialdesignicons.css' | asset_url | stylesheet_tag }}
  {{ 'materialdesignicons.min.css' | asset_url | stylesheet_tag }}
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}

  {{ 'jquery.flexslider.min.js' | asset_url | script_tag }}  
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'jquery.history.js' | asset_url | script_tag }}   
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'slick.min.js' | asset_url | script_tag }}   
  {{ 'slick.css' | asset_url | stylesheet_tag }}  
  {{ 'magnific-popup.min.js' | asset_url | script_tag }} 
  {{ 'jquery.sticky-kit.js' | asset_url | script_tag }} 
  {{ 'threesixty.min.js' | asset_url | script_tag }} 
  {{ 'imagesLoaded.min.js' | asset_url | script_tag }} 
  {{ 'lightbox-2.6.min.js' | asset_url | script_tag }}
  {{ 'parallax.min.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }} 
  {{ 'perfact-scrollbar.js' | asset_url | script_tag }}   
  {{ 'perfact-scrollbar.css' | asset_url | stylesheet_tag }} 
  {{ 'animate.css' | asset_url | stylesheet_tag }} 
  {{ 'sticky-sidebar.js' | asset_url | script_tag }}   
  {{ 'theme.js' | asset_url | script_tag }}   
  {{ 'inview.js' | asset_url | script_tag }}     
  {{ 'custom-js.js' | asset_url | script_tag }}   
  
  
{% if shop.locale == 'ar' or shop.locale == 'he' or shop.locale == 'ur' %} 
   {{ 'rtl.css' | asset_url | stylesheet_tag }} 
 <script>
    window.rtltrue = "rtltrue";
  </script>  
  <style>
    .customNavigation .navigation_wrap,.customNavigation,.owl-carousel .owl-wrapper-outer,
    .flexslider .slides,.owl-carousel,.flexslider .slides>li,.flexslider{
     	direction: ltr !important;
    }
  </style>

{% endif %}
  


{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<script>
    window.money_format = "{{shop.money_with_currency_format}}";
    window.shop_currency = "{{ shop.currency }}";
    window.show_multiple_currencies = {{settings.enable_multiple_currencies}};
    window.many_in_stock="{{ 'products.product.many_in_stock' | t  }}";
    window.out_of_stock="{{ 'products.product.out_of_stock' | t  }}";
    window.in_stock="{{ 'products.product.in_stock' | t  }}";
    window.unavailable="{{ 'products.product.unavailable' | t  }}";
  </script>  
  </head>
  
<body id="{{ page_title | handle }}" class="{{ settings.toggle_menu_position }} header_{{ settings.header_style_1 }} {% if shop.locale == 'ar' or shop.locale == 'he' or shop.locale == 'ur' %}rtl {% endif %} {{ settings.header_icon_color }} {{ page_title | handle }}  {% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

 

<div class="quick-view"></div> 
  {% if settings.display_preloader and template == 'index' %}
<div class="ttloader">
  <span class="rotating"></span>
</div>
<style>
  .ttloader {
    background-color:  {{ settings.preloader_bg }};
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
  }
  .rotating {
    background-image: url("{{ settings.pre_loader_img | img_url }}");
      }.rotating {
        background-position: center center;
        background-repeat: no-repeat;
        bottom: 0;
        height: auto;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
  </style>
{% endif %}
 
  <div class="page-wrapper page-element">
  {% case settings.header_style_1 %}
  {% when 'style_1' %}  
  {% section 'header-model-1' %} 
  {% when 'style_2' %}
  {% section 'header-model-2' %}
  {% endcase %}
  
    <main class="main-content" role="main">
      <div class="container-fluid padding_0">
        <div class="breadcrumb-block">
          <nav class="breadcrumb-wrapper{% if settings.enable_breadcrumb_bg %} parallex breadcrumb-img{% endif %}" data-source-url="{{ settings.breadcrumb_parallax | img_url: 'master' }}" style="background-image: url('{{ settings.breadcrumb_parallax | img_url: "master" }}');background-position: 50% 65.8718%; background-color: {{ settings.breadcrumb_bg_color }};" aria-label="breadcrumbs">  
            {% include 'breadcrumb' %} 
          </nav>
        </div>
        {{ content_for_layout }}
      </div>
      {% case settings.footer_style_1 %}
      {% when 'style_1' %}  
      {% section 'footer-model-1' %}
      {% when 'style_2' %}
      {% section 'footer-model-2' %}
      {% when 'style_3' %}
      {% section 'footer-model-3' %}
      {% endcase %}
      
    </main>

    {% comment %}
      Ajaxify your cart with this plugin. Adding a product will reveal a drawer, modal, or confirmation button. Enabled by default in theme settings.

      Ajaxify Cart Documentation:
        - http://shopify.com/timber#ajax-cart
    {% endcomment %}

    {% if template.name == 'product' %}
      {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
    {% endif %}
    <script>
      window.ajax_cart = {{ settings.use_ajax_cart }};
      jQuery(window).load(function() { jQuery(".ttloader").fadeOut("slow"); });
    </script>  
    {% include 'quick-veiw' %}{% include 'modal-box' %}
    {% if template == 'index' %}
    {% include 'popup-newsletter' %}
    {% endif %}
    <a href="#" id="GotoTop"><span id="toTopHover"></span><i class="mdi mdi-chevron-up"></i></a>
  </div>
  <script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
    }
    else {
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
  });
</script>
  
  
   <script>
      jQuery(document).ready(function() {			
        "use strict";
/* ------------ Start TemplateTrip Parallax JS ------------ */
        var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent);
        if(!isMobile) {
            if(jQuery(".parallex").length){
              jQuery(".parallex:not(.invert_true)").sitManParallex({					
                    	invert: false
                });
            };  
           if(jQuery(".parallex.invert_true").length){
                jQuery(".parallex").sitManParallex({					
                    	invert: true
                });
            };  
        }else{
            jQuery(".parallex:not(.invert_true)").sitManParallex({
                invert: true
            });
          jQuery(".parallex.invert_true").sitManParallex({
                invert: true
            });
        }	
        /* ------------ End TemplateTrip Parallax JS ------------ */
      });
</script>
  {% include 'currencies' %}  
   {% if settings.enable_ajax_search %}  
      {% include 'search-autocomplete' %}
   {% endif %}
  <!-- Begin Recently Viewed Products -->

{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jQuery.products.min.js' | asset_url | script_tag }}

{% if template contains 'product' %}

<script>
Shopify.Products.recordRecentlyViewed();
</script>

{% endif %}

<!-- End Recently Viewed Products -->
</body>
</html>
