{% if section.blocks.size > 0 %}
{% assign slider_enabled = true %}
<div class="flexslider type_{{ section.settings.slider_animation_type }}" id="flexslider--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow-section" data-autoplay="{{ section.settings.slider_home_auto }}" data-speed="{{ section.settings.slider_home_rate }}" data-animation-type="{{ section.settings.slider_animation_type }}">
  <ul class="slides">
    {% for block in section.blocks %}
    {% if block.settings.image != blank %}
    <li id="slide--{{ block.id }}" data-flexslider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>        
      {{ block.settings.image | img_url: '2000x' | img_tag: 'slider' }}
      {% if block.settings.title != blank %}
      <div class="slider-content-wrap {{ block.settings.text_position }} effect_{{ block.settings.text_effect }}">
        <div class="slider-title" style="color:{{block.settings.title_color }}">{{ block.settings.title }}</div>   
        <div class="slider-subtitle" style="color:{{block.settings.subtitle_color }}">{{ block.settings.sub_title }}</div>
        <div class="slider-button">
          <a href="{{block.settings.btn_link }}" style="background-color:{{block.settings.btn_bg_color}};color:{{block.settings.btn_txt_color}}">{{block.settings.btn_txt}}</a>
        </div>
      </div>
      {% endif %}            
      <style>
        #slide--{{ block.id }} .slider-button > a:hover{
          background-color:{{ block.settings.btn_bghover_color }} !important;
          color:{{ block.settings.btn_hovertxt_color }} !important;
        }
      </style>
    </li>
    {% else %}
    <li id="slide--{{ block.id }}" data-flexslider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
      <span class="slide-link">
        {% capture current %}{% cycle 1, 2 %}{% endcapture %}
        {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
<style>
  .flex-direction-nav a{
    border-color:{{ section.settings.slide_button_bg_color}};
}
.flex-direction-nav a:hover{
    border-color:{{ section.settings.slide_button_bg_hover_color}};
    background:{{ section.settings.slide_button_bg_hover_color}};
}
  
.flex-direction-nav .flex-next:hover::before,.flex-direction-nav .flex-prev:hover::before{
    color:{{ section.settings.slide_button_txt_hover_color}};
}
.flex-direction-nav .flex-next::before, .flex-direction-nav .flex-prev::before {
    color: {{ section.settings.slide_button_txt_color}};
    text-align: center;
    width: 100%;
    float: left;
  transition:400ms ease-in-out;
    -webkit-transition: 400ms ease-in-out;
}
.flex-direction-nav a.flex-next:hover::before ,.flex-direction-nav a.flex-prev:hover::before {
  color:{{ section.settings.slide_button_txt_hover_color}}; 
}
  @media screen and (max-width: 480px) {
    .flex-direction-nav a{
      border-color:transparent;
      background:none;
    }
    .flex-direction-nav a:hover{
      border-color:transparent;
      background:none;
    }
    .flex-direction-nav a.flex-next::before ,.flex-direction-nav a.flex-prev::before {
      color:{{ section.settings.slide_button_txt_color}}; 
    }
  }
</style>
{% stylesheet %}
.slider-content-wrap {
    position: absolute;
    right: 10%;
    bottom: 48%;
    width: 42%;
}
.slider-content-wrap.right.effect_right {
    position: absolute;
    right: 0;
    bottom: 42%;
    opacity:0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.flex-active-slide .slider-content-wrap.right.effect_right {
    right: 18%;
    opacity:1;	
}
.slider-content-wrap.left.effect_left {
    left: 0;
    right: auto;
    bottom: 35%;
    opacity:0;
    text-align: left;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.flex-active-slide .slider-content-wrap.left.effect_left {
    left: 10%;
    opacity:1;
}
.slider-content-wrap.left.effect_bottom {
    left: 10%;
    right: auto;
    bottom: 0;
    text-align: right;
    opacity:0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.flex-active-slide .slider-content-wrap.left.effect_bottom {
    bottom: 48%;
    opacity:1;
}
.slider-content-wrap.left.effect_top {
    left: 10%;
    right: auto;
    top: 0;
    opacity:0;
    bottom: auto;
    text-align: right;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.flex-active-slide .slider-content-wrap.left.effect_top {
    top: 20%;
    opacity:1;
}
.slider-content-wrap.left.effect_right {
    left: auto;
    right: 0;
    opacity:0;
    bottom: 35%;
    text-align: right;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.flex-active-slide .slider-content-wrap.left.effect_right {
    right: 42%;
    opacity:1;
    text-align:left;
}
.flexslider .slider-content-wrap.effect_left .slider-button > a {
    float: left;
}
.slider-content-wrap.right.effect_bottom {
    right: 10%;
    left: auto;
    bottom: 0;
    text-align: left;
    opacity:0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.flex-active-slide .slider-content-wrap.right.effect_bottom {
    bottom: 48%;
    opacity:1;
}
.slider-content-wrap.right.effect_left {
    right: auto;
    left: 0;
    bottom: 35%;
    opacity:0;
    text-align: left;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.flex-active-slide .slider-content-wrap.right.effect_left {
    right: auto;
    left: 55%;
    opacity:1;
    text-align: left;
}
.slider-content-wrap.right.effect_top {
    right: 10%;
    left: auto;
    top: 0;
    opacity:0;	
    text-align: left;
    bottom: auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.flex-active-slide .slider-content-wrap.right.effect_top {
    top: 30%;
    opacity:1;
}
.slider-content-wrap.center.effect_top {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 30%;
}
.slider-content-wrap.center {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 30%;
    width: 60%;
}
.slider-content-wrap.center.effect_bottom {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: auto;
    bottom:0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.flex-active-slide .slider-content-wrap.center.effect_bottom {
    bottom: 55%;
    opacity:1;
}
.slider-content-wrap.center.effect_top {
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    top: 0;
    bottom:auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.flex-active-slide .slider-content-wrap.center.effect_top {
    top: 30%;
    opacity:1;
}
.flexslider.type_slide .slider-content-wrap{
    transition: all 0.9s !important;
    -webkit-transition: all 0.9s !important;
}
.slider-title {
   font-size: 92px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 100px;
    margin: 0 0 30px 0;
    text-transform: capitalize;
}
.slider-subtitle {
        font-size: 30px;
    font-weight: 400;
    margin-top: 0;
    padding: 0 0 30px;
    line-height: 30px;
    font-style: normal;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.flexslider .slider-content-wrap .slider-button > a {
    padding: 10px 25px;
    border-radius: 25px;
    text-transform: capitalize;
    float:left;
    letter-spacing: 1px;
}
@media screen and (max-width: 1600px) {
  .slider-title {
    font-size: 68px;
    line-height: 80px;
  }
  .slider-subtitle {
      font-size: 24px;
  }
}
@media screen and (max-width: 1200px) {
  .slider-title {
    font-size: 50px;
    line-height: 56px;
    margin: 0 0 20px;
  }
  .slider-subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
@media screen and (max-width: 991px) {
    .slider-title {
      font-size: 40px;
      line-height: 46px;
    }
    .slider-subtitle {
        font-size: 16px;
        line-height: 20px;
        padding: 0 0 20px;
    }
    .slider-content-wrap.center,.flex-active-slide .slider-content-wrap.center.effect_top{
      top: 10%;
  	}
    .slider-content-wrap.center .slider-subtitle{
      margin-top: 15px;
    }
    .slider-content-wrap.center .slider-button{
      margin-top: 10px;
    }
	.flex-active-slide .slider-content-wrap.center.effect_bottom{
		bottom:50%;
	}
}
@media screen and (max-width: 767px) {
    .slider-content-wrap.center{
      width: 90% !important;
    }
    .slider-content-wrap.center .slider-button,.slider-content-wrap.center .slider-subtitle{
      margin-top: 0;
    }
    .slider-content-wrap.center,.flex-active-slide .slider-content-wrap.center.effect_top{
      top: 15%;
  	}
    .slider-button > a{
        padding: 5px 10px;
    }
    .flex-active-slide .slider-content-wrap.left.effect_right {
        right: 42%;
    }
    .slider-content-wrap {
    	width: 43%;
    }
    .slider-content-wrap.right.effect_left {
        bottom: 24%;
    }
    .slider-title {
        font-size: 28px;
        line-height: 30px;
    }
    .flexslider .slider-content-wrap .slider-button > a {
        padding: 5px 18px;
    }
    .slider-content-wrap.left.effect_right {
      bottom: 28%;
    }
}
@media screen and (max-width: 543px) {
    .slider-content-wrap.center,.flex-active-slide .slider-content-wrap.center.effect_bottom{
        bottom: 30%;
   	}
    .slider-button > a{
        padding: 2px 5px;
    }
    .slider-content-wrap.center,.flex-active-slide .slider-content-wrap.center.effect_top{
        top: 10%;
  	}
    .slider-title {
        margin: 0 0 10px;
        font-size: 24px;
        line-height: 28x;
    }
    .slider-subtitle {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.4px;
    }
}
@media screen and (max-width: 480px) {
    .flex-active-slide .slider-content-wrap.right.effect_right, .slider-content-wrap.left.effect_left, .slider-content-wrap.left.effect_right, 
    .slider-content-wrap.right.effect_right{
   	 	bottom: 5%;
    }
	.flex-active-slide .slider-content-wrap.left.effect_right{
		right:35%;
	}
    .slider-content-wrap {
    	width: 55%;
    }
	.slider-content-wrap.left.effect_right, .slider-content-wrap.left.effect_left{
		bottom:25%;	
	}
	.flex-active-slide .slider-content-wrap.right.effect_left{
		left:45%;
	}
	.slider-subtitle{
		font-size:14px;
		line-height:16px;
		padding:0 0 5px;
		letter-spacing: 0;
	}
    .slider-button {
        font-size: 12px;
		margin-top: 0;
    }
    .slider-title {
        font-size: 22px;
        line-height: 24px;
        margin: 0 0 6px;
    }
}
@media screen and (max-width: 360px) {
    .slider-title {
      font-size: 18px;
      line-height: 20px;
    }
	.flexslider .slider-content-wrap .slider-button > a{
		padding:3px 15px;
	}
	.slider-button {
        margin-top: 5px;
    }
    .slider-subtitle {
        padding: 0 0 0px;
    }
}
{% endstylesheet %}

{% schema %}
  {
    "name": "Slideshow",
    "class": "tt-flexslider",
    "settings": [
      {
        "type": "checkbox",
        "id": "slider_home_auto",
        "label": "Auto-rotate slides"
      },
      {
        "type": "select",
        "id": "slider_home_rate",
        "label": "Change slides every",
        "options": [
          {
            "value": "5000",
            "label": "5 seconds"
          },
          {
            "value": "7000",
            "label": "7 seconds"
          },
          {
            "value": "10000",
            "label": "10 seconds"
          },
          {
            "value": "15000",
            "label": "15 seconds"
          }
        ]
      },
      {
        "type": "select",
        "id": "slider_animation_type",
        "label": "Transition effect",
        "options": [
          {
            "value": "slide",
            "label": "Slide"
          },
          {
            "value": "fade",
            "label": "Fade"
          }
        ]
      },
		{
        "type": "color",
        "id": "slide_button_bg_color",
        "label": "Button Background Color",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "slide_button_bg_hover_color",
        "label": "Button Background Hover Color",
        "default": "#ffc446"
      },
      {
        "type": "color",
        "id": "slide_button_txt_color",
        "label": "Button Text Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "slide_button_txt_hover_color",
        "label": "Button Text Hover Color",
        "default": "#000000"
      }
    ],
    "blocks" : [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
 		  {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default":"#fff"
          },
          {
          "type": "color",
          "id": "subtitle_color",
          "label": "Subtitle Color",
          "default":"#fff"
          },
			{
          "type": "color",
          "id": "btn_bg_color",
          "label": "button background Color",
          "default":"#EB3039"
          },{
          "type": "color",
          "id": "btn_txt_color",
          "label": "Button text Color",
          "default":"#fff"
          },
{
          "type": "color",
          "id": "desc_color",
          "label": "Description Color",
          "default":"#000"
          },{
          "type": "color",
          "id": "price_color",
          "label": "Price Color",
          "default":"#000"
          },
			{
          "type": "color",
          "id": "btn_bghover_color",
          "label": "button hover background Color",
          "default":"#000"
          },{
          "type": "color",
          "id": "btn_hovertxt_color",
          "label": "Button hover text Color",
          "default":"#fff"
          },
          {
          "type": "select",
          "id": "text_position",
          "label": "Text Position",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            }
          ]
        },		
         {
          "type": "select",
          "id": "text_effect",
          "label": "Text Effect",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        },
         {
            "type": "textarea",
            "id": "title",
            "label": "Title",
            "default": "Minimal Work Portfolio"
          },
			{
            "type": "textarea",
            "id": "sub_title",
            "label": "Sub Title",
            "default": "New Decoration Furniture Home, Office"
          },
			{
            "type": "text",
            "id": "btn_txt",
            "label": "button text",
            "default": "shop now"
          },
			{
            "type": "url",
            "id": "btn_link",
            "label": "button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Image",
        "settings": {
          "slider_home_auto": true,
          "slider_home_rate": "5000",
          "slider_animation_type": "slide"
        },
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}